

.div1{
    width: 15% !important;
    margin-top: 2% !important;
    margin-left:42% !important ;
}
.div2{
    margin-top: 0% !important;
    background-color:#ebedec;

}


.cell{
height: 100px !important;
width: 100px !important;
background-color:#ebedec;
border: solid 5px black;
}

input:focus{
    outline: none;
}

.third input{
    border-bottom: none;
}
.first input{
    border-top: none;
}
.cell3{
    border-right: none;
}
.cell1{
    border-left: none;
}


#gamevscm{
    display: none ;
}

h1{
    margin-top: 1% !important;
}

body{
    background-color:#ebedec;
}